/* :root {
  --bg-color: #ffffff;
  --text-color: #000000;
}

[data-theme="dark"] {
  --bg-color: #121212;
  --text-color: #ffffff;
} */
.card {
  /* background-color: #ffffff; */
  background-color: var(--bg-color);
  width: 24rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 0.7rem;
  overflow: hidden;
  font-family: sans-serif;
  margin: 1rem auto;
  border: 1px solid gray;
}
.card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.card figure img {
  width: 100%;
  height: auto;
  display: block;
}

.card-body {
  padding: 1.5rem;
}

.card-title {
  font-size: 1.25rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.card-actions {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  margin-top: 1rem;
}

/* Badges */
.badge {
  display: inline-block;
  font-size: 0.75rem;
  font-weight: 500;
  padding: 0.25rem 0.5rem;
  border-radius: 9999px;
  line-height: 1;
  white-space: nowrap;
}

.badge-secondary {
  background-color: #818cf8;
  color: #ffffff;
}

.badge-outline {
  border: 1px solid #d1d5db;
  color: var(--text-color);
  background-color: transparent;

}
.badge-outline:hover {
background-color: pink;
cursor: pointer;
}
